<a href="https://colab.research.google.com/github/WillWang1989/misc/blob/master/code%20snippets/yfinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt: save df_calls and df_puts into csv files with utf-8-sig encoding, with filename including current date
import yfinance as yf
from datetime import date
import pandas as pd
def save_to_csv_by_ticker(str_ticker):
  ticker = yf.Ticker(str_ticker)
  calls = [ticker.option_chain(op_date).calls for op_date in ticker.options]
  puts = [ticker.option_chain(op_date).puts for op_date in ticker.options]
  df_calls = pd.concat(calls)
  df_puts = pd.concat(puts)

  today = date.today().strftime("%Y-%m-%d")
  df_calls.to_csv(f'{str_ticker}_calls_{today}.csv', encoding='utf-8-sig')
  df_puts.to_csv(f'{str_ticker}_puts_{today}.csv', encoding='utf-8-sig')

In [2]:
save_to_csv_by_ticker('YINN')

In [3]:
save_to_csv_by_ticker('TQQQ')

In [ ]:
#=DAYS(DATEVALUE(REPLACE(REPLACE("20"&RIGHT(TEXTBEFORE(B11,"C"),6),5,0,"-"),8,0,"-")),TODAY())

In [ ]:
import yfinance as yf
ticker = yf.Ticker('MSFT')

In [ ]:
ticker.options

('2025-05-02',
 '2025-05-09',
 '2025-05-16',
 '2025-05-23',
 '2025-05-30',
 '2025-06-06',
 '2025-06-20',
 '2025-07-18',
 '2025-08-15',
 '2025-09-19',
 '2025-10-17',
 '2025-12-19',
 '2026-01-16',
 '2026-03-20',
 '2026-06-18',
 '2026-12-18',
 '2027-01-15',
 '2027-06-17',
 '2027-12-17')

In [ ]:
calls = [ticker.option_chain(op_date).calls for op_date in ticker.options]
puts = [ticker.option_chain(op_date).puts for op_date in ticker.options]

In [ ]:
import pandas as pd
df_calls = pd.concat(calls)
df_puts = pd.concat(puts)

In [ ]:
df_calls.head(100)

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT250502C00230000,2025-04-07 19:34:07+00:00,230.0,129.45,198.40,199.50,0.000000,0.000000,212.0,191,0.000010,True,REGULAR,USD
1,MSFT250502C00240000,2025-04-24 16:28:33+00:00,240.0,144.91,188.55,189.70,0.000000,0.000000,1.0,35,0.000010,True,REGULAR,USD
2,MSFT250502C00250000,2025-05-01 13:37:05+00:00,250.0,181.30,178.55,179.65,47.729996,35.734066,5.0,73,0.000010,True,REGULAR,USD
3,MSFT250502C00275000,2025-04-29 19:07:13+00:00,275.0,119.06,153.50,154.55,0.000000,0.000000,1.0,0,0.000010,True,REGULAR,USD
4,MSFT250502C00280000,2025-04-29 17:47:28+00:00,280.0,113.45,148.15,149.30,0.000000,0.000000,1.0,70,0.000010,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,MSFT250509C00360000,2025-05-01 16:37:00+00:00,360.0,70.21,68.55,69.80,37.110000,112.114810,18.0,170,0.000010,True,REGULAR,USD
27,MSFT250509C00362500,2025-05-01 17:17:07+00:00,362.5,66.68,66.25,67.60,36.190002,118.694670,30.0,143,0.455084,True,REGULAR,USD
28,MSFT250509C00365000,2025-05-01 17:45:06+00:00,365.0,63.57,63.50,64.60,33.910000,114.329060,47.0,343,0.000010,True,REGULAR,USD
29,MSFT250509C00367500,2025-05-01 13:36:09+00:00,367.5,64.79,61.25,62.15,39.440002,155.581880,18.0,43,0.000010,True,REGULAR,USD
30,MSFT250509C00370000,2025-05-01 14:15:12+00:00,370.0,61.93,59.05,59.90,32.830000,112.817890,35.0,413,0.000010,True,REGULAR,USD

In [ ]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=df_calls)

https://docs.google.com/spreadsheets/d/13qH6LGu1VOjjU8uyFQ4JPr7fO3O-dI-oF7taP8jTB-8/edit#gid=0

In [ ]:
# prompt: sort df_calls by volume column

df_calls_sorted = df_calls.sort_values(by='volume', ascending=False)
df_calls_sorted.head(100)

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
38,MSFT250815C00400000,2025-05-01 17:48:02+00:00,400.0,45.04,45.40,45.75,20.340000,82.348175,32314.0,1863,0.315437,True,REGULAR,USD
46,MSFT250516C00400000,2025-05-01 17:46:52+00:00,400.0,30.40,30.65,31.25,21.099998,226.881670,29197.0,34581,0.277351,True,REGULAR,USD
57,MSFT250502C00435000,2025-05-01 17:39:51+00:00,435.0,1.23,1.16,1.19,1.050000,583.333070,26707.0,3548,0.219002,False,REGULAR,USD
58,MSFT250502C00440000,2025-05-01 17:39:22+00:00,440.0,0.41,0.38,0.39,0.320000,355.555540,24973.0,2273,0.230965,False,REGULAR,USD
65,MSFT250620C00440000,2025-05-01 17:49:43+00:00,440.0,10.08,10.15,10.30,7.930000,368.837200,18359.0,5980,0.227516,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,MSFT250523C00450000,2025-05-01 17:40:21+00:00,450.0,2.40,2.32,2.38,1.960000,445.454500,950.0,103,0.206124,False,REGULAR,USD
48,MSFT250815C00450000,2025-05-01 17:51:24+00:00,450.0,16.10,16.10,16.20,9.500000,143.939390,943.0,2302,0.262489,False,REGULAR,USD
58,MSFT260116C00450000,2025-05-01 17:40:33+00:00,450.0,31.92,31.95,32.25,13.820000,76.353590,927.0,7557,0.280036,False,REGULAR,USD
61,MSFT251219C00430000,2025-05-01 17:51:42+00:00,430.0,39.50,39.45,39.70,16.600000,72.489080,907.0,1015,0.290138,True,REGULAR,USD
44,MSFT250815C00430000,2025-05-01 17:52:42+00:00,430.0,26.05,26.15,26.20,15.089999,137.682460,869.0,15539,0.282173,True,REGULAR,USD

In [ ]:
# prompt: sum openinterest column in df_calls

sum_open_interest = df_calls['openInterest'].sum()
print(f"The sum of the openInterest column is: {sum_open_interest}")

The sum of the openInterest column is: 1182606

In [ ]:
sum_open_interest = df_puts['openInterest'].sum()
print(f"The sum of the openInterest column is: {sum_open_interest}")

The sum of the openInterest column is: 937805

In [ ]:
937805-1182606

-244801

In [ ]:
# prompt: format a number into 123,445.00

# Assuming you have a number stored in a variable called 'number'
number = 937805 - 1182606 # Example number from your code

formatted_number = "{:,.2f}".format(number)
formatted_number

'-244,801.00'

In [ ]:
# prompt: df_calls add a new column named "op_date" withe the value come from the first 10 chars from contractSymbol, then group by op_date, then sum by column openinterest

df_calls['op_date'] = df_calls['contractSymbol'].str[:10]
grouped_calls = df_calls.groupby('op_date')['openInterest'].sum()
grouped_calls

op_date
MSFT250502    104729
MSFT250509     39601
MSFT250516    178857
MSFT250523     11641
MSFT250530     11420
MSFT250606      1742
MSFT250620    228923
MSFT250718     68328
MSFT250815     60733
MSFT250919     62179
MSFT251017     13645
MSFT251219     73861
MSFT260116    124882
MSFT260320     14705
MSFT260618     41582
MSFT261218     81518
MSFT270115     34415
MSFT270617      6334
MSFT271217     23511
Name: openInterest, dtype: int64

In [ ]:
df_puts['op_date'] = df_puts['contractSymbol'].str[:10]
grouped_puts = df_puts.groupby('op_date')['openInterest'].sum()
grouped_puts

op_date
MSFT250502     99234
MSFT250509     27678
MSFT250516    116330
MSFT250523      7350
MSFT250530      8136
MSFT250606      1292
MSFT250620    171567
MSFT250718     45718
MSFT250815     62703
MSFT250919     56512
MSFT251017     20342
MSFT251219     91147
MSFT260116    110968
MSFT260320     15383
MSFT260618     27379
MSFT261218     33391
MSFT270115     23868
MSFT270617      3748
MSFT271217     15059
Name: openInterest, dtype: int64

In [ ]:
# prompt: rename column openInterest to putInterest in grouped_puts, used a different way

# prompt: rename column openInterest to putInterest in grouped_puts
grouped_puts = grouped_puts.rename(columns={'openInterest': 'putInterest'})
grouped_calls = grouped_calls.rename(columns={'openInterest': 'callInterest'})

TypeError: Series.rename() got an unexpected keyword argument 'columns'

In [ ]:
grouped_calls_df = grouped_calls.to_frame().rename(columns={'openInterest': 'callInterest'})
grouped_puts_df = grouped_puts.to_frame().rename(columns={'openInterest': 'putInterest'})

In [ ]:
# prompt: merge grouped_call_df and grouped_puts_df based on op_date column,  then add column with value equal to column callInterest minus putInterest

merged_df = pd.merge(grouped_calls_df, grouped_puts_df, on='op_date', how='outer')
merged_df['interest_diff'] = merged_df['callInterest'] - merged_df['putInterest']
merged_df

            callInterest  putInterest  interest_diff
op_date
MSFT250502        104729        99234           5495
MSFT250509         39601        27678          11923
MSFT250516        178857       116330          62527
MSFT250523         11641         7350           4291
MSFT250530         11420         8136           3284
MSFT250606          1742         1292            450
MSFT250620        228923       171567          57356
MSFT250718         68328        45718          22610
MSFT250815         60733        62703          -1970
MSFT250919         62179        56512           5667
MSFT251017         13645        20342          -6697
MSFT251219         73861        91147         -17286
MSFT260116        124882       110968          13914
MSFT260320         14705        15383           -678
MSFT260618         41582        27379          14203
MSFT261218         81518        33391          48127
MSFT270115         34415        23868          10547
MSFT270617          6334         3748           2586
MSFT271217         23511        15059           8452